services:
  postgres:
    image: postgres:16
    container_name: lab2-postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=lab2db
      - POSTGRES_USER=lab2user
      - POSTGRES_PASSWORD=lab2pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer:4
    container_name: lab2-adminer
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - ADMINER_DEFAULT_SERVER=postgres
    ports:
      - "8081:8080"

volumes:
  pgdata:


