<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/general.css" />
  </head>
  <body>
    <div class="frame">
      <div class="div-wrapper"><a href="/astronomy" class="text-wrapper-3">AstroDist</a></div>
      <img class="img" src="http://localhost:9000/pictures/background.jpg" />
      <div class="details-header">
        <div class="details-title">{{ .day.Date }}</div>
      </div>
      <div class="details-text">
        <p class="bennu-RA">
          Земля:<br />RA: {{ .day.EarthRA | printf "%.4f" }}° <br />DEC: {{ .day.EarthDEC | printf "%.4f" }}° <br /> {{ .day.BodiesText }}
        </p>
      </div>
      <img class="details-image" src="http://localhost:9000/pictures/asteroids.png" alt="asteroids" />
      
      <div class="frame-wrapper">
        <div class="div-wrapper"><div class="text-wrapper-4">Следите за астероидами</div></div>
      </div>
    </div>
  </body>
</html>
