<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/styles/general.css" />
  </head>
  <body>
    <div class="frame">
      <div class="div-wrapper"><a href="/astronomy" class="text-wrapper-3">AstroDist</a></div>
      <img class="img" src="http://localhost:9000/pictures/background.jpg" />
      <img class="img img-mirror" src="http://localhost:9000/pictures/background.jpg" />
      <div class="group">
        <div class="rectangle"></div>
        <form action="/astronomy" method="GET" class="search-form">
          <input type="text" name="name" value="{{ .query }}" placeholder="Введите дату (например: 21.02.2025)" class="search-input" />
        </form>
      </div>
      <div class="div">
        {{ if gt .observationId 0 }}
        <a href="/observation/{{ .observationId }}">
          <img class="vector" src="http://localhost:9000/pictures/corzina.svg?v={{ .timestamp }}" />
          <div class="group-2">
            <div class="ellipse"></div>
            <div class="text-wrapper-2">{{ .counter }}</div>
          </div>
        </a>
        {{ else }}
        <span class="group-2" style="opacity:0.5; cursor: not-allowed;">
          <img class="vector" src="http://localhost:9000/pictures/corzina.svg?v={{ .timestamp }}" />
          <div class="group-2">
            <div class="ellipse"></div>
            <div class="text-wrapper-2">0</div>
          </div>
        </span>
        {{ end }}
      </div>
      
      <div class="days-grid">
      {{ range $index, $day := .days }}
      <div class="day-card">
        <img class="image" src="{{ $day.Image }}" />
        <div class="text-wrapper-4">{{ $day.Date }}</div>
        <p class="RA-DEC">
          Координаты Земли относительно Солнца в этот день: <br />RA: {{ $day.EarthRA | printf "%.4f" }}° <br />DEC: {{ $day.EarthDEC | printf "%.4f" }}°
        </p>
        <div class="div-3">
          <form method="POST" action="/order/items" style="display: contents">
            <input type="hidden" name="day_id" value="{{ $day.ID }}" />
            <button type="submit" class="group-3">
              <div class="rectangle-2"></div>
              <div class="text-wrapper-5">Добавить</div>
            </button>
          </form>
          <a href="/day_details/{{ $day.ID }}" class="group-4">
            <div class="rectangle-3"></div>
            <div class="text-wrapper-6">Подробнее</div>
          </a>
        </div>
      </div>
      {{ end }}
      </div>
    </div>
  </body>
</html>
